@media screen and (min-width: 790px){

    body{
        display: flex;
        flex-direction: column;
    }


    /*CSS that displays the heading*/
    header{
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: aquamarine;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pageHeading{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*CSS for the main element*/
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding-left: 20%;
        padding-right: 20%;
        
        justify-content: center;
        align-items: center;
    }
    main article{
        background-color: red;
    }

    .contactForm{
        padding-left: 20%;
        padding-right: 20%;

        display: flex;
        flex-direction: column;
    }
    .formControlButtons{
        display: flex;
        flex-direction: row-reverse;  
        margin-top: 1rem; 
    }


    /*footer element css*/
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }


}
