body {
    background-color: #Daf1fa;
    padding: 0;
    margin: 0;
}
article{
    margin: 0rem;
    padding: 0rem;
}

.ribbon a:hover {
    background-color: #BF9000;
}

.selected {
    background-color: #BF9000;
}

.ribbon a {
    padding: 0.7em;
}

.ribbon {
    background-color: #45818E;
    margin:0;
    width:100%;
    height:2.5em;
    font-family: Arial, "Century Gothic", Verdana, sans-serif;
}

.ribbon * {
    text-align: center;
    color: white;
    line-height: 40px;
}


img.logo {
    padding:10px;
    height:180px;
}

header {
    background-image: url("../images/banner.jpg");
    /* Photograph by j4p4n, distributed under a CC0 1.0 license. */
    background-color: #BF9000;
    width:100%;
    height:13em;
    margin-bottom: -20px;;
}

main {
    background-color: whitesmoke;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5em;
    margin-bottom: 2%;
    font-family: Arial, "Century Gothic", Verdana, sans-serif;
}

a{
    color: #45818E;
}
/*w3Schools, “CSS attribute selectors,” CSS Attribute Selector, n.d.. [Online]. Available: https://www.w3schools.com/css/css_attribute_selectors.asp. [Accessed: 10-Feb-2023]. */
a[target="_blank"]{
    color:#BF9000;
}

.copyrightInfo {
    color: lightslategray;
    font-family: Arial, "Century Gothic" Verdana, sans-serif;
    font-style: italic;
    text-align: left;
}